$primary: #5265e1;
$secondary: #fa5959;

.nav-link {
  color: black !important;
}

.nav-link.active,
.nav-link.active:hover {
  color: $secondary !important;
}

.requadre-blau-dreta {
  height: 70% !important;
  position: relative;
  background-color: #5265e1;
  width: 100%;
}

.requadre-blau-esquerra {
  position: relative;
  background-color: #5265e1;
  height: 100%;
  width: 100%;
}

@import "./node_modules/bootstrap/scss/bootstrap.scss";
