$primary: #5265e1;
$secondary: #fa5959;
$link-hover-color: #fa5959;
$nav-link-color: black;
$accordion-icon-color: #5265e1;
$accordion-icon-active-color: #fa5959;
$nav-link-text-active-color: #000000;
$body-bg: white;

html,
body {
  overflow-x: hidden;
}

//BOTONS PRINCIPALS
.btn-primary:hover {
  color: $primary !important;
  background-color: white !important;
  border-color: $primary !important;
}

.btn-secondary:hover {
  color: $secondary !important;
  background-color: white !important;
  border-color: $secondary !important;
}
.btn_gris:hover {
  color: gray !important;
  background-color: white !important;
  border-color: gray !important;
}

//BOTONS TABS
.nav-underline .nav-link.active,
.nav-underline .show > .nav-link {
  border-bottom-color: red !important;
}

//ACTIUS
.social-icon:hover {
  filter: brightness(0) saturate(100%) invert(42%) sepia(46%) saturate(812%)
    hue-rotate(314deg) brightness(107%) contrast(96%);
}

.nav-link:hover,
.accordion-button:hover,
.nav-item:hover {
  color: $secondary !important;
}

//CARDS
.card-body img {
  margin-bottom: 20px;
}

//PASTILLES BLAVES
.requadre-blau-dreta {
  z-index: -1;
  height: 70%;
  width: 150%;
  bottom: 0;
  left: 150px;
}

.requadre-blau-esquerra {
  z-index: -1;
  height: 100%;
  width: 150%;
  bottom: -80px;
  right: 120px;
}

//IMG EXTENSIONS
.hfoto {
  height: 230px;
}

//MEDIA QUERIES

@media (max-width: 575.98px) {
}

@media (max-width: 767.98px) {
  #card_opera {
    margin-top: 30px !important;
  }
  #card_chrome {
    margin-bottom: 20px !important;
  }
}

@media (max-width: 991.98px) {
  #card_firefox {
    margin-top: -20px !important;
  }
}

@media (max-width: 1199.98px) {
}

@media (max-width: 1399.98px) {
  #card_firefox {
    margin-top: 10px;
  }
  #card_opera {
    margin-top: 105px;
  }
}
@media (min-width: 1399.98px) {
  #card_firefox {
    margin-top: 10px;
  }
  #card_opera {
    margin-top: 105px;
  }
}

@import "./node_modules/bootstrap/scss/bootstrap.scss";
